@import '~../variables';

$main-grey: #f9fafb;
$grey : #707070;
$light-grey: #D4D4D4;

* {
    box-sizing: border-box;
}

:host {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100%;
    
    .active-nav {
        transition: .2s ease-in-out;
        color: $primary !important;
        transform: translateX(.5rem);
        // color: white !important;
    }

    aside {
        background: $main-grey;
        border-right: 1px solid $light-grey;
        position: relative;
        display: flex;
        justify-content: flex-end;
        padding-top: 5rem;
        padding-right: 1rem;

        .sidenav-wrapper {
            position: fixed;
            display: flex;
            flex-direction: column;

            .sidenav {
                border-bottom: 1px solid $light-grey;
                padding: .5rem;
                
                a {
                    padding: 1rem;
                    display: flex;
                    text-decoration: none;
                    font-family: proxima;
                    color: black;
                    // color: #707070;
                    font-family: Roboto;
                    font-size: 1.4rem;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }
}