<footer>
    <div class="footer-container">
        <!-- 1ST CHILD OF THE FOOTER -->
        <div>
            <div  class="footer-logo">
                <img src="/assets/img/HRM-Logo-White-1.png" alt="hrm-logo">
            </div>
            <div class="social-media">
                <a href="#"><i class="fab fa-facebook-f fa-inverse"></i></a>
                <a href="#"><i class="fab fa-twitter fa-inverse"></i></a>
                <a href="#"><i class="fab fa-linkedin-in fa-inverse"></i></a>
            </div>
        </div>
        <!-- 2ND CHILD OF THE FOOTER -->
        <div> 
            <div class="wrapper">
                <span>
                    <i class="fas fa-map-marker-alt fa-inverse"></i>
                </span>
                <div class="content">
                    <h3>Address</h3>
                    <p>102 Jericho Turnpike, Suite 102 Floral Park, New York 11001</p>
                </div>
            </div>
            <div class="wrapper">
                <span>
                    <i class="fas fa-at fa-inverse"></i>
                </span>
                <div class="content">
                    <h3>Contact</h3>
                    <p>hrm@hrmengineering.com</p>
                </div>
            </div>
            <div class="wrapper">
                <span>
                    <i class="fas fa-phone fa-inverse"></i>
                </span>
                <div class="content">
                    <h3>Call us</h3>
                    <p>516-248-0750</p>
                </div>
            </div>
        </div>
        <!-- 3RD CHILD OF THE FOOTER -->
        <p>Copyright &copy; HRM Engineering Services, PC. All rights reserved.</p>
    </div>
</footer>