<div class="carousel">
    <div #parentSlides class="slides">
        <div [class]="'blue'" [class.current-slide]="slides.showSlide1">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <div class="img-wrapper">
                <img src="/assets/img/projects/ny.jpg" alt="">
            </div>
        </div>
        <div [class]="'red'" [class.current-slide]="slides.showSlide2">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit..</h1>
            <div class="img-wrapper">
                <img loading="lazy" src="/assets/img/projects/1.jpg" alt="">
            </div>
        </div>
        <div [class]="'green'" [class.current-slide]="slides.showSlide3">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <div class="img-wrapper">
                <img loading="lazy" src="/assets/img/projects/2.jpg" alt="">
            </div>
        </div>
        <div [class]="'green'" [class.current-slide]="slides.showSlide4">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit..</h1>
            <div class="img-wrapper">
                <img loading="lazy" src="/assets/img/projects/3.jpg" alt="">
            </div>
        </div>
        <div [class]="'green'" [class.current-slide]="slides.showSlide5">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <div class="img-wrapper">
                <img loading="lazy" src="/assets/img/projects/4.jpg" alt="">
            </div>
        </div>
        <div [class]="'green'" [class.current-slide]="slides.showSlide6">
            <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit..</h1>
            <div class="img-wrapper">
                <img loading="lazy" src="/assets/img/projects/5.jpeg" alt="">
            </div>
        </div>
        <div [class]="'green'" [class.current-slide]="slides.showSlide7">
            <h1>Lorem ipsum dolor sit amet consectetur..</h1>
            <div class="img-wrapper">
                <img loading="lazy" src="/assets/img/projects/6.jpg" alt="">
            </div>
        </div>
    </div>
    <div #parentNav class="nav-buttons">
        <span class="current-nav" (click)='navigateSlide(parentNav, $event)'></span>
        <span (click)='navigateSlide(parentNav, $event)'></span>
        <span (click)='navigateSlide(parentNav, $event)'></span>
        <span (click)='navigateSlide(parentNav, $event)'></span>
        <span (click)='navigateSlide(parentNav, $event)'></span>
        <span (click)='navigateSlide(parentNav, $event)'></span>
        <span (click)='navigateSlide(parentNav, $event)'></span>
    </div>
    <div class="btn-wrapper">
        <button (click)="prev(parentSlides, parentNav)" class="btn-prev">
            <i class="fa fa-angle-left"></i> 
        </button>
        <button (click)="next(parentSlides, parentNav)" class="btn-next">
            <i class="fa fa-angle-right"></i> 
        </button>
    </div>
</div>