<app-carousel></app-carousel>

<section class="about-us">
    <div class="about-us-item">
        <img src="/assets/img/projects/7.jpg" alt="">
    </div>
    <div class="about-us-desc">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at dolor dolorem eius enim esse est fuga impedit ipsam natus nulla numquam porro quae quas reiciendis repellat repellendus saepe, sed?</p>
        <div><a routerLink="/about" class="learn-more">Learn More</a></div>
    </div>
</section>

<section class="services">
    <div class="container">
        <div class="desc">
            <h2>Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci aliquam deleniti doloremque ex nesciunt numquam odio provident quod, voluptatibus.</p>
        </div>
    </div>
    <div class="services-items">
        <div class="items">
            <div>
                <img src="/assets/img/icons/mechanical.png" alt="mechanical.png">
                <h3>Mechanical</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad at dolorem ipsa magni maiores nam non quisquam voluptas voluptatibus.</p>
            </div>
            <a routerLink="/services" class="learn-more">See More</a>
        </div>
        <div class="items">
            <div>
                <img src="/assets/img/icons/electrical.png" alt="electrical.png">
                <h3>Electrical</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, nostrum.</p>
            </div>
            <a routerLink="/services" class="learn-more">See More</a>
        </div>
        <div class="items">
            <div>
                <img src="/assets/img/icons/plumbing.png" alt="plumbing.png">
                <h3>Plumbing</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, officia.</p>
            </div>
            <a routerLink="/services" class="learn-more">See More</a>
        </div>
    </div>
    <a routerLink="/services" class="services-view">View All Services</a>
</section>

<section class="recent-projects">
    <div class="container">
        <div class="desc">
            <h2>Recent Projects</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias in itaque saepe vitae. Consequatur esse eveniet facere necessitatibus optio.</p>
        </div>
    </div>
    <div class="project-items">
        <div>
            <a routerLink="/projects">
                <h3>Lorem ipsum dolor sit amet</h3>
                <img loading="lazy" src="/assets/img/projects/1.jpg" alt="">
            </a>
        </div>
        <div>
            <a routerLink="/projects">
                <img loading="lazy" src="/assets/img/projects/2.jpg" alt="">
                <h3>Lorem ipsum dolor sit amet</h3>
            </a>
        </div>
        <div>
            <a routerLink="/projects">
                <img loading="lazy" src="/assets/img/projects/3.jpg" alt="">
                <h3>Lorem ipsum dolor sit amet</h3>
            </a>
        </div>
        <div>
            <a routerLink="/projects">
                <img loading="lazy" src="/assets/img/projects/4.jpg" alt="">
                <h3>Lorem ipsum dolor sit amet</h3>
            </a>
        </div>
        <div>
            <a routerLink="/projects">
                <img loading="lazy" src="/assets/img/projects/5.jpeg" alt="">
                <h3>Lorem ipsum dolor sit amet</h3>
            </a>
        </div>
        <div>
            <a routerLink="/projects">
                <img loading="lazy" src="/assets/img/projects/6.jpg" alt="">
                <h3>Lorem ipsum dolor sit amet</h3>
            </a>
        </div>
    </div>
    <a routerLink="/projects"  class="see-all-projects">See All Projects</a>
</section>

<section class="principal">
    <div class="container">
        <div class="desc">
            <h2>The Principals</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, itaque.</p>
        </div>
    </div>
    <div class="principal-items">
        <div class="item">
            <div>
                <h3>Herminigildo R. Marcos</h3>
                <p>President, Managing Partner</p>
                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
            </div>
            <div class="img">
                <img src="/assets/img/team/pres.png" alt="">
            </div>
        </div>
        <div class="item">
            <div>
                <h3>Edwin F. Deguzman</h3>
                <p>Vice President, Managing Partner</p>
                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
            </div>
            <div class="img">
                <img src="/assets/img/team/vp.png" alt="">
            </div>
        </div>
    </div>
    <a routerLink="/team" class="check-our-team">Check Our Team</a>
</section>

<!-- <section class="about-us">
    <div class="about-us-wrapper">
        <div class="about-us-desc">
            <div><h2>About us</h2></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at dolor dolorem eius enim esse est fuga impedit ipsam natus nulla numquam porro quae quas reiciendis repellat repellendus saepe, sed?</p>
            <div><a href="#" class="learn-more">Learn More</a></div>
        </div>
        <div class="about-us-item">
            <img src="/assets/img/projects/1.jpg" alt="">
        </div>
    </div>
</section> -->

<app-footer></app-footer>